<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title>ToDo List</title>
</head>
<body>
  <div class="my-container">
    <h2>Here are your tasks:</h2>
    <div class="my-tasks">
      <% @tasks.each do |task| %>
      <div class="task">
          <% if (task.completed) %>
            <p><i class="far fa-check-square"></i></p>
          <% else %>
            <p><i class="far fa-square"></i></p>
          <% end %>
          <%= link_to task.title, task_path(task) , class: "link-to-task" %>
          <p><%= link_to delete_path(task), method: :delete, data:{confirm: "Delete this task?"} do %><i class="far fa-trash-alt"></i><% end %></p>

      </div>
    <% end %>
    </div>
  <%= link_to "Add a new task to your ToDo list", new_path, class: "btn btn-primary"  %>
  </div>
</body>
</html>
